*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("Imagenes/tela2.jpg");
}


.logo{
    width:10%;
    display:block;
    float:left;
    height:200px;
    margin-bottom: 50px;
}

.face{
    width:90%;
    height:200px;

}

.frase{
    padding:20px;
    color:red;
    font-size:30px;
    display:block;
    width:90%;
    height:120px;
    margin-top:50px;
    margin-bottom: 150px;
    
}

/* Cuerpo- Main */

.main{
    width:90%;
    height:1600px;
    margin:auto;
    padding:50px;
}

.card{
    float:left;
    display:block;
    width:25%;
    height:800px;
    max-height:3500px;
    border:5px solid #AA000A;
    border-radius: 20px;
    background-color: white;
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 30px;
    text-align: center;
}

img{
    width:100%;
    object-fit: cover;
    padding:2px;
}

h3, p{
    margin-bottom:50px;
}

.enlace{
    display: block;
    width:50%;
    background-color:#AA000A;
    padding:20px;
    margin:auto;
    color:white;
    margin-bottom: 30px;
    
}

.fila{
    height:700px;
}

.araña{
    clear:both;
    margin-top:50px;
}

footer{
    color:white;
    text-align: center;
    clear:both;
}

.pie{
    width:100px;
    height:100px;
}

.red{
    background-color:#AA000A;
    color:white;
    font-size:30px; 
    border:5px solid #DEB887;
    padding:20px;
}


/* media CELULAR */


@media (max-width:767px){
   .logo, .face{
       width:100%;
       margin-bottom:5px;
   }

   .frase{
       text-align: left;
       margin-bottom:180px;
   }

   .main{
       width:100%;
       height:4550px;
       padding:10px;
   }

   .card{
       width:100%;
       margin:0;
       margin-bottom:10px;
   }
}
